# Grant ability to edit secrets at app-specific path

path "kv/${application}/" {
  capabilities = ["create", "read", "update", "delete", "list"]
}

path "kv/${application}/*" {
  capabilities = ["create", "read", "update", "delete", "list"]
}
